#ap{

    margin-left: 190px;
}
@media(max-width:740px){
    #sds{
        width: 5px;
    }
    .container{
        grid-template-columns: 1fr;
    }
}


.container{
    border: 3px solid rgb(233, 219, 219);
    padding: 15px;
    border-radius: 10px;
    height: 210px;
    background-color: rgba(248, 223, 244, 0.788);

}

.img{
    border-radius: 10px;
}
#text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: black;
}