.nav-link{
    text-decoration: none;
    font-size: x-large;
    margin-top: 10px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.card-deck{ 
   width: 99.8%;    
}
#navs{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.card-deck .card{
    height: 310px;
    border-radius: 10px;
}
@media{
    .card-deck .card{
        width: 94%;
        margin-left: 4%;
        margin-right: 4%;
    }
    .card-deck{
        width: 94%;
    }
}

.card-deck .card .card-img-top{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 190px;
}
.card-deck .card .card-img-top2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 190px;
}
#sds{
    height: 170px;
}
.card-deck .card .card-title{
    margin-top: 15px;;
}
.card-deck .card .card-text{
    font-size: 18px;
    font-family:serif;
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
}
.card-deck .card  .card-text   .buttns{
    height: 30px;
    margin-left: 180px;

    margin-bottom: 100px;
    border-radius: 10px;
    color: white;
    background-color: orange;
    
}
.card:hover{
    background-color: rgb(252, 234, 234);
    border-color: rgb(38, 15, 248);
}
/* .card-deck .card .card-text  .buttns2{
    height: 30px;
    margin-left: 180px;
    margin-bottom: 200px;
    border-radius: 10px;
    color: white;
    background-color: orange;
    
} */



#h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 40px;
}
 