#nav #n1 button{
    margin-left: 50px;
    width: 170px;
}


#nav a{
    padding: 12px;
}
#nav button{
    width: 120px;
}
#nav a button{
    margin-top: 60px;
    border-radius: 10px;
    background-color: rgb(111, 83, 235);
    color: white;
    font-weight: bolder;
}
#heading{
    margin-top: 20px;
    color: rgb(253, 26, 234);
    margin-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.card-deck{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}
@media (max-width : 740px){
    .card-deck{
        margin-left: 15%;
    }
    
}
.card-deck .card  img{
    height: 200px;
    width: 100%;
    border-radius: 10px;

}
.card-deck .card {
    width: 250px;
    border-radius: 10px;
}
.card-deck .card:hover{
    background-color: rgba(253, 225, 228, 0.89);
    box-shadow: rgba(39, 33, 37, 0.952) 2px 2px 6px 6px;
    
}


.card-deck .card .card-title{
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
    margin-left: 10px;

}
.card-deck .card .card-text{
    margin-top: 0px;
    margin-left: 10px;
}